body{
  background-color: #0e1a30;
}
.app{
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.app_content > img{

height: 100px;
padding: 20px;
margin-bottom: 40px;
}
.app_loading{
  display: grid;
  place-items:center;
  height: 100vh;
  width: 100%;
}
.app_content{
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}