.login{
    display: grid;
    place-items: center;
    align-items: center;
}
.login_content{
    margin-top: 150px;
}
.login_content > img{
    width: 240px;
    height: 190px;
    margin-left: 50px;
}
.login_content > h1{
    color: white;
    margin-bottom: 38px;
}
.login_container{
    padding: 100px;
    text-align: center;
    background-color: #0f0f47;
    border-radius: 10px ;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.login_container>img{
    object-fit: contain;
    height: 120px;
}
.login_container > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #003483 !important;
    color: white;
}
.login_container  >h1{
    margin-top: 12px;
    color: rgb(240, 145, 22);
}
.login_container > p{
    font-size: 14px;
    font-weight: 550;
    margin-top: 5px;
}
.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #171e47;
}
.login_buttons{
    display: flex;
    flex-direction: column;
}
.login_buttons > button{
    width:180px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    color: white;
    text-align: center !important;
    align-items: center !important;
    margin-left: 100px !important;
}
.login_button{
    margin-top:40px !important;
}
.login_buttonn{
    margin-top:12px !important;
}
@media screen and (max-width:768px){
  .login_container{
    padding: 100px;
    text-align: center;
    background-color: #0f0f47;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  }
  .login{
       height:731px;
  }
}
@media screen and (max-width:710px){
  .login_container{
    padding:0;
    box-shadow:none;
    width:100% !important;
    height:100% !important;
    margin-top: 250px !important ;
  }
  .login_container>img{
    object-fit: contain;
    height:120px;
    margin-top: 20px !important;
    width:150px;
}
.login_container > h1{
    font-size:20px;
    margin-bottom: 20px !important;
}.login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 100px !important;
    margin-bottom: 60px !important;
}
.login{
    background-color: #0f0f47;
    height:100vh !important;
   
}
}

@media screen and (max-width:790px){
  .login_buttons > button{
    width:150px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 120px !important;
    /* //first phase margin-left: 88px !important; */
    margin-bottom: 60px !important;
  }
  .login{
    background-color: #0f0f47;
    height:100vh !important;
   
}
}

@media screen and (max-width:450px){
  .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 70px !important;
    margin-bottom: 60px !important;
  }
}


@media screen and (max-width:440px){
  .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    /* margin-right: 80px !important; */
    margin-left: 88px !important;
    margin-bottom: 60px !important;
  }
}

@media  screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left:76px !important;
    margin-bottom: 60px !important;
    }
}

@media  screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px)  { 
 .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 116px !important;
    margin-bottom: 60px !important;
    }
}

@media  screen 
  and (min-device-width: 411px) 
  and (max-device-width: 731px)  { 
 .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 116px !important;
    margin-bottom: 60px !important;
    }
}


@media  screen 
  and (min-device-width: 350px) 
  and (max-device-width: 620px)  { 
 .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 100px !important;
    margin-bottom: 60px !important;
    }
}


@media  screen 
  and (min-device-width: 411px) 
  and (max-device-width: 823px)  { 
 .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 116px !important;
    margin-bottom: 60px !important;
    }
}


@media  screen 
  and (min-device-width: 540px) 
  and (max-device-width: 720px)  { 
 .login_buttons > button{
    width:170px !important;
    text-transform: inherit !important;
    background-color: #003483 !important;
    margin-left: 180px !important;
    margin-bottom: 60px !important;
    }
}


