.vipPackage{
    max-width: 300px;
    padding: 135px;
    margin-left: auto; 
    margin-right: auto;
    position:absolute;
    left:650px;
    top:200px;
    background-color: rgba(0, 0, 0, 0.85);
}
.vipPackage > form {
    display:grid;
    flex-direction: column;
    position:absolute;
    left:50px;
    bottom:45px;
    display: grid;
    flex-direction: column;
}
.vipPackage > form > button {
    padding: 10px 20px;
    outline:none;
    border: none;
    font-size: 1rem;
    background-color: rgb(173, 33, 33);
    color:whitesmoke;
    border-radius: 5px;
    width: fit-content;
    margin-top: 20px;
}
form > h2{
    margin-bottom: 14px;
}


@media  screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px)  { 
 .vipPackage{
  max-width: 70px !important;
  padding:110px !important;
  position:absolute;
  left:100px !important;
 }
 .vipPackage >form > h2{
    font-size:20px !important;
 }
 .vipPackage > form > h3{
     font-size:15px !important
 }
 .vipPackage > form{
    display:grid;
    flex-direction: column;
    position: absolute;
    left:40px;
    bottom:45px;
 }
}

@media  screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  { 
 .vipPackage{
  max-width: 70px !important;
  padding:135px !important;
  position:absolute;
  left:260px !important;
 }
}

@media  screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)  { 
 .vipPackage{
  max-width: 70px !important;
  padding:135px !important;
  position:absolute;
  left:400px !important;
 }
}

@media  screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)  { 
 .vipPackage{
  max-width: 70px !important;
  padding:125px !important;
  position:absolute;
  left:110px !important;
 }
  .vipPackage > form{
    display:grid;
    flex-direction: column;
    position: absolute;
    top: 23px;
    left:40px;
    bottom:45px;
 }
}